
<h2>Tabla de Productos</h2>
<div class="row">
    @model List<WebApplication1.Models.Producto>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>

        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.ProductoId</td>
                <td>@producto.Nombre</td>
                <td>@producto.Precio</td>
                <td>
                    @if (producto.Stock == 0)
                    {
                        @:Agotado
                    }
                    else
                    {
                        @producto.Stock
                    }
                </td>
            </tr>
        }
    </table>

</div>

